default:
    extensions:
        Behat\Symfony2Extension: ~
        Behat\WebApiExtension:
            base_url: http://koperative.example.com/app_dev.php/
        Codifico\ParameterBagExtension\ServiceContainer\ParameterBagExtension: ~

    suites:
        app_bundle:
            type: symfony_bundle
            bundle: FoodCoopBundle
            paths:
                - src/FoodCoopBundle/Features/
            contexts:
                - FoodCoopBundle\Behat\Context\FeatureContext
                - FoodCoopBundle\Behat\Context\WebApiContext
                - FoodCoopBundle\Behat\Context\DatabaseContext
                - FoodCoopBundle\Behat\Context\MatcherContext


