suites:
    app_bundle:
        spec_path: src/FoodCoopBundle/

extensions:
    - Cjm\PhpSpec\Extension\TypeHintedMethodsExtension
    - Codifico\PhpSpec\RestViewExtension\Extension

formatter.name: pretty
